#canvas
{
  width: auto;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  overflow: auto;
  height: 600px;
}

#nav_item
{
  padding: 5%;
}

#legend
{
  position: absolute;
  right: 12%;
  top: 121%;
}

#legend_graphic
{
  height: 101px;
  width: 161px;
}
